// COLORS

$primary: #FFA927;
$primary-darker: #F8872E;
$secondary: #FC6B0A;
$secondary-darker: #FC580C;

$canvas: #fdfdfd;
$canvas-pale: #EBEBEB;

$primary-blue: #031634;
$secondary-blue: #033649;

$tint-green: #036564;

$tint-brown: #CDB380;
$tint-brown-pale: #E8DDCB;

$content: #454545;
$content-dark: #222222;
$content-light: #cccccc;
$content-blue: #031634;
$content-blue-light: #036564;



